.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 0;
}

.quantity__minus,
.quantity__plus {
  color: #fff;
  border: 0;
  width: 40px;
  height: 100%;
  font-size: 1.5em;
  box-shadow: none;
  float: left;
  text-align: center;
}

.quantity__input {
  width: 40px;
  height: 30px;
  margin: 2px 0;
  border: 0;
  border-radius: 8px;
  color: #000;
  text-align: center;
  box-shadow: none;
  outline: 0;
  float: left;
}

.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
}

.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

.btn-default {
  display: block;
  border-radius: 8px;
  background: var(--order-btn);
  letter-spacing: .8px;
  text-transform: uppercase;
  border: 0;
  line-height: .9em;
  outline: 0;
}

@media (max-width: 1000px) {
  .quantity {
    flex-direction: column;
    width: 40px;
  }
}

@media (max-width: 768px) {
  .quantity {
    flex-direction: row;
    width: unset;
  }
}

.hidden {
  display: none;
}
